body{
	background-color: #ccc;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-Height: 27px;
}

h1 { 
	font-size: 150%;
	color: #FFA500;
}

h2 {font-size: 16px;}

label{
display: block;
float: left;
width: 150px;
padding-left: 15px;
}

form br{clear:left;
}

th{
	font-weight: normal;
	color: #FFA500;
	text-align: left;
	padding-right: 15px;
}

div#box{
	max-width: 1000px;
	min-width: 500px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	border: solid thin black;
}

div#header{
	position:relative;
	width: 100%;
	height: 70px;
	background-image: url(../img/header_fill.png);
	background-repeat: repeat-x;
}

div#header img#header_right{
	position: absolute;
	right: 0px;
}

div#nav{
	position:relative;
	width: 100%;
	padding: 5px 0px;
	border-top: solid thin black;
	border-bottom: solid thin black;
	background-color: #555;
	text-align:right;
	font-size: 12px;
}

div#nav span{
	padding: 0px 5px;
}

div#content{
	position:relative;
	width: 100%;
	
}
div.register{
    color: black;
    padding: 25px;
}

span.error{
    color: red;
}

#content #infoboard{
	float: left;
	width: 240px;
	padding: 10px;
	border-right: solid thin black;
	border-bottom: solid thin black;
	background-color: #555;
}

span.comName{
	font-style: italic;
}

#content .car{
	position: absolute;
}

#content #car1{
	left: 325px;
}

#content #car2{
	left: 385px;
}

#content .car.pos0{
	top: 35px;
}
#content .car.pos1{
	top: 120px;
}
#content .car.pos2{
	top: 200px;
}
#content .car.pos3{
	top: 280px;
}
#content .car.pos4{
	top: 360px;
}
#content .car.pos5{
	top: 440px;
}
#content .car.pos6{
	top: 520px;
}

#content #track{
	margin-left: 290px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px;
	list-style: none;
}

#content #track li{
	width: 123px;
	height: 80px;
	background-image: url(../img/empty_road.png);
}

#content #track li.oil{
	height: 80px;
	background-image: url(../img/oil_road.png);
}

#content #track li:first-child{
	height: 98px;
	background-image: url(../img/start_road.png);
}

#content #track li#field6{
	height: 98px;
	background-image: url(../img/finish_road.png);
}

#content #die{
	position: absolute;
	top: 20px;
	left: 480px;
	width: 110px;
	height: 120px;
	padding: 0px 5px;
	border: solid 2px #fc0;
	background-color: #555;
	text-align: center;
	font-size: 18px;
}

#content #die img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

div.table{
	background-image: url(../img/field_background.png);
}

div#footer{
	max-width: 1000px;
	min-width: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	text-align: right;
	color: black;
	font-size: 12px;
}

a img{
    border: none;
}
